<div>
  <div class="header">
    <ircc-cl-lib-header [id]="'header'" [themeToggle]="false">
    </ircc-cl-lib-header>
  </div>
  <main>
    <div class="main-container top">
      <div class="content-router-outlet">
        <div class="content-area-responsive">
          <div class="page-content">
            body
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Footer -->
  <div class="footer">
    <ircc-cl-lib-footer> </ircc-cl-lib-footer>
  </div>
</div>
